.rewards-card{
  flex: content-box;
  float: contour;
  padding: 25px 15px 20px 20px;
  background-color: whitesmoke;
}
mat-card-header {
  color: black;
}
.mat-card-content {
  text-align: center;
  font-family: sans-serif;
  color: slateblue;
}
