.details-container {
  background-color: white;
}
.details-card {
  background-color: whitesmoke;
}

mat-card-header{
  float: contour;
  color: black;
}

.content{
  text-align: left;
  padding: 5px 10px 10px 5px;
  font-size: 17px;
  font-family: "Calibri Light", sans-serif;
  color: slateblue;
}
